<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member | titlecase}}</li>
    </ul>

    <div class="add-members-container">
      <input
        type="text"
        placeholder="Name"
        #newNameInput
        (input)="onInput(newNameInput.value)"
        [value]="newMemberName"
      />
      <button (click)="onAddMember()">Add</button>
    </div>

    <div class="input-container">
      <input
        #numberOfTeamsInput
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
        type="number"
        placeholder="# of teams"
      />

      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errormessage" class="error-msg">{{ errormessage | titlecase}}</p>
  </div>

  <div class="teams-container" *ngIf="teams.length" >
    <app-team
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
    ></app-team>
  </div>
</div>
